body {    position: relative;
    overflow: hidden;    height: 100vh;
    margin: 0;}
.item {
    position: absolute;}
.square {
    background-color: red;    
    border: 2px solid black;
    opacity: 0.9;}
.triangle {
    width: 0;    height: 0;
    border-left: 25px solid transparent;    
    border-right: 25px solid transparent;
    border-bottom: 50px solid blue;    
    opacity: 0.9;
}.circle {
    background-color: green;    
    border: 2px solid black;
    border-radius: 50%;    
    opacity: 0.9;
}.selected {
    background-color: yellow;}
